<app-header></app-header>
<section class="about-section" id="about">
    <img src="/bg_14.webp" alt="" class="background">
  <div class="about-container">
    <h2>About Us</h2>
    <p>
      We are a team of passionate musicians and designers creating a space full of energy and sound for you. Our mission? To make every note an experience.
    </p>

    <div class="about-cards">
      <div class="card">
        <i class="fas fa-music"></i>
        <h3>Passion</h3>
        <p>We create with heart and full commitment, because music is our life.</p>
      </div>
      <div class="card">
        <i class="fas fa-users"></i>
        <h3>Team</h3>
        <p>Each of us brings unique skills, allowing us to create something exceptional.</p>
      </div>
      <div class="card">
        <i class="fas fa-lightbulb"></i>
        <h3>Creativity</h3>
        <p>We are not afraid to experiment and combine styles, creating unique experiences.</p>
      </div>
    </div>
  </div>
</section>