<app-header></app-header>
<main>
    <div class="background-image"></div>
    <h1>Log in To access charts, statistics and many more!</h1>
    <div class="center-area">
        <h1>Explore Music Now!</h1>
        <p>You are not logged in yet. To access Dribble Music features, you have to first agree with SpotifyAPI terms. Link Below will redirect you to external spotify website.</p>
        <button (click)="authorize()">Log in via <span>Spotify</span></button>
    </div>
    @if(sessionFirst == false){
        <div class="disclaimer">
            <h2>Warning<i class="bi bi-exclamation-circle"></i></h2>
            <p>This website uses the Spotify Web API, which is subject to access limitations imposed by Spotify.
    Due to these limitations, the application functions correctly only for users who have been explicitly granted access by the creator.
    
    If you do not have access, some features may be unavailable or not work as intended.
    To request access, please contact the creator directly.</p>
    
    <button (click)="sessionFirst= !sessionFirst">I understand</button>
        </div>
    }
</main>