  <div *ngIf="topTracks.length > 0; else errorTemplate" class="itemList">
      <ul>
        <div class="legend">
            <span></span> - Popularity based on recent activity, play count and global popularity
          </div>
      <li *ngFor="let track of topTracks">
        <div class="info">
          <img [src]="track.album.images[0].url" alt="{{ track.name }}" width="75">
          {{ track.name }}
        </div>
        <div class="popularity-bar">
          <div 
          class="popularity-fill" [style.width]="track.popularity + '%'"></div>
        </div>
      </li>
    </ul>
  </div>
  
  <ng-template #errorTemplate>
    <p>{{ errorMessage }}</p>
  </ng-template>
