<header>
    <div class="img-box">
            <img src="/logo_big.png" alt="logo">
        </div>
        <div class="vertical-line"></div>
    <nav>
        <ul>
            <li><a routerLink="" routerLinkActive="active">About</a></li>
            <li><a routerLink="" routerLinkActive="active">Your Charts</a></li>
            <li><a routerLink="" routerLinkActive="active">Settings</a></li>
        </ul>
    </nav>
    <section>
        <button>Log In</button>
        <button>Sign Up</button>
    </section>
</header>