header{
    display: flex;
    background-color: #050505;
    padding: 15px 15px;
}
.img-box{
    display: flex;
    align-items: center;
    flex-basis: 60%;
}
img{
    height: 60px;
}
nav{
    flex-basis: 40%;
    font-weight: bold;
}
ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    height: 100%;
}
a{
    text-decoration: none;
}