<header>
    <div class="img-box"[routerLink]="['/profile']" routerLinkActive="active">
                <img src="/logo_big_000.png" alt="logo">
        </div>
        <div class="v-line-box">
            <div class="vertical-line"></div>
        </div>
    <nav>
        <ul>
            <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
            <li><a routerLink="" routerLinkActive="active">Your Charts</a></li>
            <li><a routerLink="" routerLinkActive="active">About</a></li>
        </ul>
    </nav>
    <div id='loggedIn' *ngIf="profileService.isLoggedIn; else notLoggedIn">
        <div *ngIf="profilePicture" (click)="toggleMenuDisplay()" [ngClass]="{'active-menu': isShowMenu}">
            <img [src]="profilePicture.url" alt="profile picture" [width]="profilePicture.width" [height]="profilePicture.height" />
            <i class="bi bi-caret-down-fill"></i>
            <div class="drop-menu" [hidden]="!isShowMenu">
                <section>
                    <p id="username">{{ userProfile?.display_name }}</p>
                    <p id="email">{{ userProfile?.email }}</p>
                </section>
                <ul>
                    <a routerLink="/profile" routerLinkActive="active">Profile</a>
                    <a>Your Charts</a>
                    <a href="">About</a>
                    <a (click)="profileService.logout()">Log out</a>
                    <a id="version">Version:<p>1.011.299</p></a>
                </ul>
            </div>
        </div>
    </div>
<ng-template #notLoggedIn>
    <section>
    <a routerLink="/login" routerLinkActive="active" id="login">Log In</a>
    <a routerLink="/login" routerLinkActive="active" id="signup">Sign Up</a>
    </section>
</ng-template>
</header>