header{
    position: fixed;
    z-index: 10000;
    width: 100%;
    display: flex;
    background-color: #000;
    padding: 10px 10px;
    height: 80px;
}
.v-line-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 3%;
}
.vertical-line{
    height: 30px;
    width: 2px;
    background-color: rgba(90, 90, 90, 0.444);
}
.img-box{
    display: flex;
    align-items: center;
    flex-basis: 7%;
}
.img-box img{
    height: 60px;
}
nav{
    flex-basis: 50%;
    font-weight: bold;
    
}
nav ul{
    display: flex;
    gap: 35px;
    align-items: center;
    list-style: none;
    height: 100%;
    
}
nav a{
    filter: opacity(0.8);
}
nav a:hover{
    filter: opacity(0.95);
}
a{
    text-decoration: none;
}
header > section{
    margin-left: auto;
    flex-basis: 15%;
    padding-right: 15px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
header>section>a{
    width: 95px;
    height: 40px;
    border: none;
    background-color: #050505;
    border-radius: 8px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header>section>a:hover{
    text-shadow: 0 0 20px #fff;
    transform: scale(1.08);
    transition: all 0.15s ease;
}
#signup{
    background: rgb(34,187,212);
background: var(--logo-gradient);
}
#loggedIn{
    position: relative;
    margin-left: auto;
    flex-basis: 8%;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loggedIn>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--grey-transparent);
    padding: 4px 9px;
    border-radius: 5px;
}

#loggedIn i{
    color: inherit;
}
#loggedIn img{
    margin-left: auto;
    filter: brightness(0.9);
    border-radius: 100%;
}
#loggedIn>div:hover{
    background-color: #ffffff17;
    color: var(--font-white);
    transition: all 0.25s ease;
}
#loggedIn>div:hover img{
    filter: brightness(1);
    transition: all 0.2s ease;
}
.active-menu{
    background-color: #10101097 !important;
    color: #fff !important;
}
.drop-menu{
    min-width: 230px;
    position: absolute;
    top: 115%;
    left: -121px;
    background-color: #10101097;
    border-top: transparent;
    border-radius: 4px;
    z-index: 1000;

}
.drop-menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 3px;
    gap: 3px;
    margin: 0;
}

.drop-menu a {
    padding: 15px 10px;
    cursor: pointer;
    font-size: 14px;
}

.drop-menu a:hover{
    background-color: #ffffff1f;
    transition: all 0.15s ease;
}
.drop-menu section{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 10px;
    font-size: 15px;
    border-bottom: 1px solid #ffffff21;

}
#username{
    filter: opacity(0.95) ;
    color: #fff;
}
#email{
    filter: opacity(0.8)
}
.drop-menu a{
    filter: opacity(0.7);
}
.drop-menu a:hover{
    filter: opacity(0.85);
}
#version{
    
    display: flex;
    filter: opacity(0.5);
    justify-content: space-between;
}
#version:hover{
    background-color: inherit !important;
    cursor: default !important;
}
nav>ul>li>a.active{
    color: var(--logo-dark-blue) !important;
    filter: opacity(1) !important;
    font-weight: 900;
}
header>.img-box>img:hover{
    cursor: pointer;
}

@media (max-width: 900px) {
    #login{
        display: none;
    }
    ul>li{
        display: none;
    }
    .v-line-box{
        display: none;
    }
    .img-box img{
        height: 35px;
    }
    header{
        padding: 0 5px;
    }
}