<header>
    <div class="img-box">
            <img src="/logo_big_000.png" alt="logo">
        </div>
        <div class="v-line-box">
            <div class="vertical-line"></div>
        </div>
    <nav>
        <ul>
            <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
            <li><a routerLink="" routerLinkActive="active">Your Charts</a></li>
            <li><a routerLink="" routerLinkActive="active">About</a></li>
        </ul>
    </nav>
    <section>
        <button id="login">Log In</button>
        <button id="signup">Sign Up</button>
    </section>
</header>