
.name-type-area{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-bottom: 15px;
}   
.img-area img{
    height: 240px;
    width: 240px;
    border-radius: 100%;
}
.name-type-area #display-name{
    font-size: 60px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 18px;
}
.name-type-area span{
    font-weight: bold;
    font-size: 20px;
}
.profile-container{
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 45px;
    position: absolute;
    z-index: 100;
}
.followers-link-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 19px;
    font-weight: 500;
    gap: 7px;
}
.followers-link-area p{
    color: var(--grey-transparent);
}
.followers-link-area #edit  {
    font-weight: bolder;
    color: var(--grey-transparent);
}
.followers-link-area #edit:hover {
    cursor: pointer;
    color: #fff;
    transition: all 0.2s ease;
}
.profile-data{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile-data a i{
    color: var(--grey-transparent);
    font-size: 30px;
}
.profile-data a i:hover{
    color: var(--spotify-green);
    transition: all 0.25s ease;
}
.profile-data p>span{
    font-weight: bolder;
    color: var(--grey-transparent);
}
.profile-data p{
    display: flex;
    gap: 5px;
    align-items: center;

}
#logout:hover{
    cursor: pointer;
    color: #fff;
    transition: all 0.2s ease;
}
.img-area .empty-img{
    height: 240px;
    width: 240px;
    border-radius: 100%;
    border: 1px solid var(--grey-transparent);
    font-weight: bold;
    color: var(--grey-transparent);
    display: flex;
    justify-content: center;
    align-items: center;
}
.empty-area{
    position: relative;
}
.empty-message{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.empty-message a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 30px;
    background: var(--logo-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.empty-message a:hover{
    background: linear-gradient(320deg, rgba(34,187,212,1) 0%, rgba(66,104,162,1) 49%, rgba(87,48,129,1) 93%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.1);
    transition: all 0.25s ease;
}
.premium {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  
  .normal {
    color: rgba(255, 255, 255, 0.59);
  }

  @media (max-width: 900px){
    .profile-container{
        padding: 30px 0;
        width: 100vw;
        flex-direction: column;
        gap: 10px;
    }
    .profile-data{
        text-align: center;
    }
    .followers-link-area p{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
  @media (min-width: 1600px){
    .profile-container img{
        height: 300px;
        width: 300px;
    }
    .profile-container #display-name{
        font-size: 65px;
    }
  }