
.background-image{
  animation: backgroundPulse 2.5s ease-in-out infinite;
}
main div{
    color: var(--font-white);
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2 {
    color: white;
    text-align: center;
  }
  
  p {
    color: white;
    text-align: center;
    font-size: 20px;
  }
section{
  position: relative;
  height: 88vh;
  width: 100vw;
}
@keyframes backgroundPulse {
    0%{
        filter: brightness(0.3);
    }
    50%{
        filter: brightness(0.9);
    }
    100%{
        filter: brightness(0.3);
    }
}